@model IEnumerable<LUSSIS.Models.Supplier>

@{
    ViewBag.Title = "List of Suppliers";
}

<h2>All Suppliers</h2>
<hr/>
<p>
    @Html.ActionLink("Add New Supplier", "Create")
</p>
<table class="table table-hover table-striped">
    <tr>
        <th>
            Supplier Name
        </th>
        <th>
            Contact Name
        </th>
        <th>
            Phone No
        </th>
        <th>
            Fax No
        </th>
        <th>
            Manage
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelephoneNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaxNum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SupplierId }, new { @class = "btn btn-outline-warning btn-sm"} ) 
            @Html.ActionLink("Details", "Details", new { id=item.SupplierId }, new { @class = "btn btn-outline-info btn-sm" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.SupplierId }, new { @class = "btn btn-outline-danger btn-sm" })
        </td>
    </tr>
}

</table>
