@model LUSSIS.Models.WebDTO.SupervisorReportDTO

@{
    ViewBag.Title = "GenerateReport";
}

ViewBag.Message


<h2>GenerateReport</h2>
<script>

    window.onload = function ()
    {
        var flag = @Html.Raw(Json.Encode(ViewBag.flag));
        var redirect=@Html.Raw(Json.Encode(ViewBag.second));
       document.getElementById(flag).checked=true;

        //document.getElementById(flag).style.display = "block";
       if (flag == 'One_supplier')
       {
           document.getElementById("notshowSupplier").style.display = "block";


           if (redirect == "redirect") {
               document.getElementById("notshowCategory").style.display = "block";
           }

       }
       else if (flag =='One_category')
       {
           if (redirect == "redirect") {
               document.getElementById("notshowSupplier").style.display = "block";
           }
           document.getElementById("notshowCategory").style.display = "block";


       }
       else if (flag == 'Many_category')
       {

           document.getElementById("notshowCategory").style.display = "block";
       }
       else if (flag == 'Many_suppliers') {

           document.getElementById("notshowSupplier").style.display = "block";
       }

    }



</script>


<div class="row">
    <div class="col-md-3">
        <div class="bs-component">
            <div class="card bg-light mb-3" style="max-height: 10rem; min-width: 15rem; margin-right: 1rem">
                <div class="col-xs-12 text-left">
                    <div class="card text-black">

                        <div class="card-body">

                            <input type="radio" id="Many_suppliers" name="supplier_or_category" value="Many_suppliers" onclick="handleClick(this)" /><label for="Many_suppliers">Many Supplier</label>
                            <br />
                            <input type="radio" id="Many_category" name="supplier_or_category" value="Many_category" onclick="handleClick(this)" /><label for="category">Many categories</label>
                            <br />
                            <input type="radio" id="One_supplier" name="supplier_or_category" value="One_supplier" onclick="handleClick(this)" /><label for="One_supplier">one supplier</label>
                            <br />
                            <input type="radio" id="One_category" name="supplier_or_category" value="One_category" onclick="handleClick(this)" /><label for="One_category">one category</label>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="bs-component">
            <div class="card bg-light mb-3" style="max-height: 10rem; min-width: 15rem; margin-right: 1rem">
                <div class="col-xs-12 text-left">
                    <div class="card text-black">

                        <div class="card-body">

                            <input type="radio" id="This_month" value="This_month" name="date_range" onclick="handleClick(this)" /><label for="This_month">This Month</label>
                            <br />
                            <input type="radio" id="This_year" value="This_year" name="date_range" onclick="handleClick(this)" /><label for="This_year">This Year</label>
                            <br />
                            <input type="radio" id="Past_Three_Months" value="Past_Three_Months" name="date_range" onclick="handleClick(this)" /><label for="Supplier">Past Three Months</label>
                            <br />
                            <input type="radio" id="Past_Six_Months" value="Past_Six_Months" name="date_range" onclick="handleClick(this)" /><label for="Supplier">Past six Months</label>
                            <br />

                            <input type="radio" id="Custom_Range" value="Custom_Range" name="date_range" onclick="handleClick(this)" /><label for="Supplier">Custom Range</label>
                            <br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="bs-component">
            <div class="card bg-light mb-3" style="max-height: 10rem; min-width: 15rem; margin-right: 1rem">
                <div class="col-xs-12 text-left">
                    <div class="card text-black">

                        <div class="card-body">

                            <input type="checkbox" name="chart_or_table" id="BarChart" value="BarChart" onclick="handleClick(this)" /><label for="BarChart">Barchart</label><br />

                            <input type="checkbox" name="chart_or_table" id="Table" value="Table" onclick="handleClick(this)" /><label for="Table">Table</label><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6" id="notshowSupplier" style="display:none;">
                <h6>Select Supplier</h6>
                <select id="select_supplier" multiple size="8" onchange="supplierChange()">

                    @foreach (var sup in Model.Suppliers)
                    {
                        <option value="@sup.SupplierId">
                            @sup.SupplierName
                        </option>
                    }
                </select>


            </div>
            <div class="col-md-6" id="notshowCategory" style="display:none;">
                <h6>Select Category</h6>

                <select id="select_category" multiple size="8" onchange="categoryChange()">

                    @foreach (var cat in Model.Categories)
                    {
                        <option value="@cat.CategoryId">
                            @cat.CategoryName
                        </option>
                    }
                </select>
            </div>
            <div class="col-md-4" id="notshowDate" style="display:none;">
                <h6> Select Date</h6>
                <br />
                <label for="from">From</label>
                <input type="text" id="from" name="from" onkeydown="return false" placeholder="DD/MM/YYYY" />
                <label for="to">&nbsp;&nbsp;To</label>
                <input type="text" id="to" name="to" onkeydown="return false" placeholder="DD/MM/YYYY" />
                <br /><br />
            </div>
        </div>

    </div>
</div>
<input type="hidden" id="hid_supplier" name="supplier" />
<input type="hidden" id="hid_category" name="category" />
<input type="hidden" id="hid_date" name="date" />
<input type="submit" value="Generate" id="Generate" onclick="Generate_click()" />
<input type="hidden" id="barchart" name="barchart" />
<input type="hidden" id="table" name="table" />
<div class="row">
    <div class="col-md-6">
        <div id="chart_div"></div>
    </div>
    <div class="col-md-6">
        <div id="bar_div"></div>
    </div>
</div>


@Scripts.Render("https://www.gstatic.com/charts/loader.js")
<script>

    function supplierChange() {
        var values = $('#select_supplier').val();
        $('#hid_supplier').val($("#select_supplier :selected").text());

        if (values.length == 1 && document.getElementById("One_supplier").checked) {

            var newLink = '/SupervisorDashboard/GenerateReport?supplier=' + values + '&&category=a&&flag=One_supplier';
            window.location.replace(newLink);
        }
        esle
        {
            document.getElementById("notshowCategory").style.display = "none";
        }
    }
    function categoryChange() {
        var value = $('#select_category').val();
        $('#hid_category').val($("#select_category :selected").text());

        if (value.length == 1 && document.getElementById("One_category").checked) {

            var newLink = '/SupervisorDashboard/GenerateReport?supplier=a&&category=' + value + '&&flag=One_category';
            window.location.replace(newLink);

        }
        else {
            document.getElementById("notshowSupplier").style.display = "none";
        }
    }

    function handleClick(myRadio) {
        var check = $(myRadio).val();
        if (check == "Many_suppliers") {

            var newLink = '/SupervisorDashboard/GenerateReport?supplier=a&&category=a&&flag=Many_suppliers';
            window.location.replace(newLink);

        }
        if (check == "Many_category") {

            var newLink = '/SupervisorDashboard/GenerateReport?supplier=a&&category=a&&flag=Many_category';
            window.location.replace(newLink);
        }
        if (check == "One_supplier") {
            var newLink = '/SupervisorDashboard/GenerateReport?supplier=a&&category=a&&flag=One_supplier';
            window.location.replace(newLink);


        }
        if (check == "One_category") {
            var newLink = '/SupervisorDashboard/GenerateReport?supplier=a&&category=a&&flag=One_category';
            window.location.replace(newLink);

        }
        if (check == "Custom_Range") {
            document.getElementById("notshowDate").style.display = "block";

        }
        if (check == "This_month" || check == "This_year" || check == "Past_Three_Months" || check == "Past_Six_Months") {
            document.getElementById("notshowDate").style.display = "none";
        }
        if (check == "BarChart") {
            $('#barchart').val(true);
        }
        if (check == "Table") {
            $('#table').val(true);
        }

    }
    function Generate_click()
    {

        var supplier_values = $('#hid_supplier').val();
        var category_values = $('#hid_category').val();
        var date = "ddddd"
        var barchart = $('#barchart').val(); var table = $('#table').val();

        getData(supplier_values, category_values, date, barchart, table);


    }
    function getData(supplier_values, category_values, date, barchart, table) {
        $.ajax({
            type: 'GET',
            url: '/SupervisorDashboard/GetReportJSON?supplier_values=' + supplier_values + '&&category_values=' + category_values + '&&date=' + date,
            success: function (chartsdata) {
                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(function () {
                    DrawPieChartLoad(chartsdata)
                    if (barchart) {
                        alert("bar");
                    }
                    if (table) {
                        alert("table");
                    }

                });

            },
            error: function () {
                alert("Error loading data! Please try again.");
            }
        });
    }


    function DrawPieChartLoad(chartsdata) {
        var first = chartsdata.ListOne;
        var second = chartsdata.ListTwo;

        var data = new google.visualization.DataTable();

        data.addColumn('string', 'CategoryName');
        data.addColumn('number', 'PostCount');

        //Loop through each list data

        for (var i = 0; i < first.length; i++) {
            if (second[i] != 0) {
                data.addRow([first[i], second[i]]);
            }

        }

        // Instantiate and draw our chart, passing in some options
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));

        //Draw pie chart command with data and chart options
        chart.draw(data,
            {
                title: "Stationery Trend Analysis",
                position: "top",
                fontsize: "25px",
                width: "600",
                height: "600",
            });

    }





</script>

