@model LUSSIS.Models.WebDTO.SupervisorReportDTO

@{
    ViewBag.Title = "GenerateReport";
}


<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>
<h2>GenerateReport</h2>

<div class="alert alert-danger alert-dismissable fade show" id="showError" style="display:none;">Cannot Generate Trend Analysis. Your selected data is not incomplete</div>

<div class="row">
    <div class="col-md-3">
        <p>Select Chart</p>
        <div class="bs-component">
            <div class="card bg-light mb-3" style="max-height: 10rem; min-width: 15rem; margin-right: 1rem">
                <div class="col-xs-12 text-left">
                    <div class="card text-black">

                        <div class="card-body">
                            <input type="checkbox" name="chart_or_table" id="BarChart" value="BarChart" onclick="handleClick(this)" /><label for="BarChart">Barchart</label><br />

                            <input type="checkbox" name="chart_or_table" id="Pie" value="Pie" onclick="handleClick(this)" /><label for="Table">Pie Chart</label><br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-5">
                <div>
                    <p>Select Department</p>
                    <select id="select_depart" size="7" multiple onchange="departChange()" style="width:210px;">
                        <option value="0">All</option>
                        @foreach (var sup in Model.Department)
                        {
                            <option value="@sup.DeptCode">
                                @sup.DeptName
                            </option>
                        }
                    </select>
                </div>


            </div>
            <div class="col-md-4" id="notshowCategory">
                <div style="margin-left:0px;margin-right:0px">
                    <p>Select Category</p>
                    <select id="select_category" multiple size="12" onchange="categoryChange()" style="width:160px;">
                        <option value="0">All</option>
                        @foreach (var cat in Model.Categories)
                        {
                            <option value="@cat.CategoryId">
                                @cat.CategoryName
                            </option>
                        }
                    </select>

                </div>
            </div>
            <div class="col-md-3" id="notshowDate">

                <div style="width:150px;margin-left:50px;margin-right:50px">
                    <p>  Select date </p>
                    From &nbsp;<input type="text" id="from" name="from" onkeydown="return false" placeholder="DD/MM/YYYY" class="form-control d-in" />
                    <br />
                    To &nbsp;<input type="text" id="to" name="to" onkeydown="return false" placeholder="DD/MM/YYYY" class="form-control d-inline" />

                </div>
            </div>

        </div>

    </div>
</div>

<input type="submit" value="Generate" id="Generate" onclick="Generate_click()" class="btn btn-success" />

<input type="hidden" id="hid_depart" name="supplier" />
<input type="hidden" id="hid_category" name="category" />

<input type="hidden" id="hid_date" name="Date" />
<input type="hidden" id="hid_toDate" name="toDate" />
<input type="hidden" id="hid_fromDate" name="fromDate" />
<input type="hidden" id="barchart" name="barchart" />
<input type="hidden" id="table" name="table" />
<input type="hidden" id="pie" name="pie" />
<div class="row">
    <div class="col-md-6">
        <div id="pie_div"></div>
    </div>
    <div class="col-md-6">
        <div id="bar_div"></div>
    </div>

</div>


<br />
<br />



@Scripts.Render("https://www.gstatic.com/charts/loader.js")


<script>

    function departChange() {
        var values = $('#select_depart').val();
        $('#hid_depart').val(values);


    }
    function categoryChange() {
        var value = $('#select_category').val();

        $('#hid_category').val(value);

    }

    function handleClick(myRadio) {
        var check = $(myRadio).val();
        if (check == "BarChart") {
            $('#barchart').val(true);
        }

        if (check == "Pie") {
            $('#pie').val(true);
        }

    }

    function Generate_click() {

        var depart_values = $('#hid_depart').val();
        var category_values = $('#hid_category').val();

        var fromDate = $('#hid_fromDate').val();
        var toDate = $('#hid_toDate').val();
        var date = $('#hid_date').val();
        var barchart = $('#barchart').val();

        var pie = $('#pie').val();


        alert(depart_values);
        alert(category_values);
        alert(fromDate);
        alert(toDate);
        alert(barchart);
        alert(pie);
        if (depart_values == "" || category_values == "" || fromDate == "" || toDate == "") {
            $("#showError").show();

        }
        else {
            getData(depart_values, category_values, fromDate, toDate, barchart, pie);

        }


    }

    function getData(depart, category, fromdate, todate, barchart, pie) {

        $.ajax({
            type: 'GET',
            url: '/SupervisorDashboard/GetDepartmentReportJSON?depart=' + depart + '&&cat=' + category + '&&to=' + todate + '&&from=' + fromdate,
            success: function (chartsdata) {
                google.charts.load('current', { 'packages': ['corechart'] });
                if (barchart) {

                    google.charts.setOnLoadCallback(function () {
                        DrawBarChartLoad(chartsdata);
                    });

                }
                if (pie) {
                    google.charts.setOnLoadCallback(function () {

                        DrawPieChartLoad(chartsdata);
                    });

                }


            },
            error: function () {
                alert("Error loading data! Please try again.");
            }
        });
    }


    function DrawPieChartLoad(chartsdata) {

        var first = chartsdata.ListOne;
        var second = chartsdata.ListTwo;

        var data = new google.visualization.DataTable();

        data.addColumn('string', 'CategoryName');
        data.addColumn('number', 'PostCount');

        //Loop through each list data

        for (var i = 0; i < first.length; i++) {
            if (second[i] != 0) {
                data.addRow([first[i], second[i]]);
            }

        }

        // Instantiate and draw our chart, passing in some options
        var chart = new google.visualization.PieChart(document.getElementById('pie_div'));

        //Draw pie chart command with data and chart options
        chart.draw(data,
            {
                title: "Department Trend Analysis",
                position: "top",
                fontsize: "25px",
                width: "600",
                height: "600",
            });

    }
    function DrawBarChartLoad(chartsdata) {
        alert("within bar chart");
        var first = chartsdata.ListOne;
        var second = chartsdata.ListTwo;

        var data = new google.visualization.DataTable();

        data.addColumn('string', 'CategoryName');
        data.addColumn('number', 'PostCount');

        //Loop through each list data

        for (var i = 0; i < first.length; i++) {
            if (second[i] != 0) {
                data.addRow([first[i], second[i]]);
            }
        }
        var chart = new google.visualization.BarChart(document.getElementById('bar_div'));


        chart.draw(data,
            {
                title: "Department Trend Analysis",
                position: "top",
                fontsize: "25px",
                width: "400",
                height: "600",
            });

    }
</script>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#from, #to').change(validate);

            function validate() {
                var from = $('#from').val();
                var to = $('#to').val();
                if (from.length > 0 && to.length > 0) {
                    $('#hid_fromDate').val($('#from').val());
                    $('#hid_toDate').val($('#to').val());

                }
            };

            $(function () {
                from = $("#from")
                    .datepicker({
                        dateFormat: 'dd/mm/yy',
                        changeMonth: true,
                        numberOfMonths: 1,
                        onClose: function (selectedDate) {
                            $("#to").datepicker("option", "minDate", selectedDate);
                        }

                    })
                    .on("change", function () {
                        to.datepicker("option", getDate(this));
                    }),
                    to = $("#to").datepicker({
                        dateFormat: 'dd/mm/yy',
                        changeMonth: true,
                        numberOfMonths: 1,
                        onClose: function (selectedDate) {
                            $("#from").datepicker("option", "maxDate", selectedDate);
                        }

                    })
                        .on("change", function () {
                            from.datepicker("option", getDate(this));
                        });

                function getDate(element) {
                    var date;
                    try {
                        date = $.datepicker.parseDate("dd/mm/yy", element.value);
                    } catch (error) {
                        date = null;
                    }

                    return date;
                }
            });
        });
    </script>
}

@*Authors: May Zin Ko*@
