@model LUSSIS.Models.WebDTO.SupervisorDashboardDTO
@{
    ViewBag.Title = "Dashboard";
}
<h2>My Dashboard</h2>
<hr />
<div class="row">
    <div class="col-lg-3 text-center">
        <div class="card border-dark mb-3 text-center bg-transparent" style="max-width: 50rem; min-height: 15rem">
            <h5 class="card-header mt-0">Pending Adjustments</h5>
            <div class="card-body">
                <table class="table mt-2">


                    <tr>
                        <td></td>
                        <td>
                            <h3 class="mt-2 mb-0 text-muted">@Model.PendingStockAdjCount</h3>
                        </td>
                        <td></td>
                        
                    </tr>
                    <tr>
                        <th><div class="text-center">+ @Model.PendingStockAdjAddQty</div></th>
                        <th><div class="text-center"></div></th>
                        <th><div class="text-center">- @Model.PendingStockAdjSubtractQty</div></th>
                    </tr>
                </table>


            </div>
            <div class="card-footer text-center">
                @Html.ActionLink("View All", "ViewPendingStockAdj", "StockAdjustment", null, new { @class = "btn btn-info", style="width:100%" })
            </div>
        </div>
    </div>

    <div class="col-lg-3  text-center">
        <div class="card border-dark mb-3 text-center bg-transparent" style="max-width: 50rem; min-height: 15rem">
            <h5 class="card-header mt-0">Pending Purchase Order </h5>
            <div class="card-body">

                <table class="table mt-2">
                    <tr>
                        <th>Pending PO requests: @Model.PendingPOCount</th>
                    </tr>

                    <tr>
                        <td>

                            <h3 class="mt-2 mb-0 text-muted">$@Model.PendingPOTotalAmount.ToString("0.00")</h3>


                        </td>

                    </tr>

                </table>


            </div>
            <div class="card-footer text-center">
                hello
            </div>
        </div>
    </div>

    <div class="col-lg-3 text-center">
        <div class="card border-dark mb-3 text-center bg-transparent" style="max-width: 50rem; min-height: 15rem">
            <h5 class="card-header mt-0">Pending Requisitions</h5>
            <div class="card-body">

                @if (1 == 1)
                {
                    <table class="table mt-3">
                        <tr>
                            <th>
                                No. of Pending Requisitions
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <h3 class="mt-0 mb-0">
                                    Count
                                </h3>

                            </td>
                        </tr>
                    </table>
                }
                else
                {
                    <div class="alert alert-dismissible alert-info p-4">
                        <h6>No pending requisitions at the moment.</h6>
                    </div>
                }

            </div>
            <div class="card-footer text-center">
                footer
            </div>
        </div>
    </div>
    <div class="col-lg-3 text-center">
        <div class="card border-dark mb-3 text-center bg-transparent" style="max-width: 50rem; min-height: 15rem">
            <h5 class="card-header mt-0">Pending Requisitions</h5>
            <div class="card-body">

                @if (1 == 1)
                {
                    <table class="table mt-3">
                        <tr>
                            <th>
                                No. of Pending Requisitions
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <h3 class="mt-0 mb-0">
                                    Count
                                </h3>

                            </td>
                        </tr>
                    </table>
                }
                else
                {
                    <div class="alert alert-dismissible alert-info p-4">
                        <h6>No pending requisitions at the moment.</h6>
                    </div>
                }

            </div>
            <div class="card-footer text-center">
                footer
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="bs-component">
            <div class="card bg-light mb-3" style="max-height: 10rem; min-width: 15rem; margin-right: 1rem">
                <div class="col-xs-12 text-center">
                    <div class="card bg-info text-white">
                        <div class="card-header">Pending Adjustment <span style="padding-left: 3em">@Model.PendingStockAdjCount</span> </div>
                        <div class="card-body">
                            <span style="padding-left: 2em">+ @Model.PendingStockAdjAddQty</span><span style="padding-left: 3em">- @Model.PendingStockAdjSubtractQty</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3" id="notShowManager">
        <div class="bs-component">
            <div class="card bg-light mb-3" style="max-height: 10rem; min-width: 15rem; margin-right: 1rem">
                <div class="col-xs-12 text-center">

                    <div class="card bg-info text-white">
                        <div class="card-header">Pending Purchase Order <span style="padding-left: 3em">@Model.PendingPOCount</span></div>
                        <div class="card-body">
                            <span style="padding-left: 5em">$@Model.PendingPOTotalAmount.ToString("#.00")</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="bs-component">
            <div class="card bg-light mb-3" style="max-height: 10rem; min-width: 15rem; margin-right: 1rem">
                <div class="col-xs-12 text-center">

                    <div class="card bg-info text-white">
                        <div class="card-header">Total ChargeBack</div>
                        <div class="card-body">
                            <span style="padding-left: 5em">$@Model.TotalDisbursementAmount.ToString("#.00")</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="bs-component">
            <div class="card bg-light mb-3" style="max-height: 10rem; min-width: 15rem; margin-right: 1rem">
                <div class="col-xs-12 text-center">

                    <div class="card bg-info text-white">
                        <div class="card-header">Total PO Expenditure</div>
                        <div class="card-body">
                            <span style="padding-left: 5em">$@Model.POTotalAmount.ToString("#.00")</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-6">
        <h5>Stationery Expenditure for Past three months</h5>
        <div id="chart_div"></div>
    </div>
    <div class="col-md-6">
        <h5>Charge Back for each department for past three months</h5>
        <div id="stack_div"></div>
    </div>
</div>

@section scripts
{
    <script>
        window.onload = function ()
        {
        if (@User.IsInRole("supervisor")) {
            document.getElementById("notShowManager").style.display = "block";
        } else {
            document.getElementById("notShowManager").style.display = "none";
        }
    }
    </script>

    @Scripts.Render("https://www.gstatic.com/charts/loader.js")

    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });

        //Call function after Google Chart is loaded, it is required, otherwise you may get error
       google.charts.setOnLoadCallback(DrawPieChartLoad);

      google.charts.setOnLoadCallback(DrawStackChartLoad);



        function DrawPieChartLoad()
        {
            $(function () {
                $.ajax({
                    type: 'GET',
                    url: '/SupervisorDashboard/GetPiechartJson?list=aaa&date=bbbb&&e=cdefe',
                    success: function (chartsdata)
                    {

                        var first = chartsdata.ListOne;
                        var second = chartsdata.ListTwo;

                        var data = new google.visualization.DataTable();

                        data.addColumn('string', 'CategoryName');
                        data.addColumn('number', 'PostCount');

                        //Loop through each list data

                        for (var i = 0; i < first.length; i++) {
                            if (second[i] !== 0)
                            {
                                data.addRow([first[i], second[i]]);
                            }

                        }

                        // Instantiate and draw our chart, passing in some options
                        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));

                        //Draw pie chart command with data and chart options
                        chart.draw(data,
                            {
                              @*  title: "Stationery Expenditure for Past three months",*@
                                position: "top",
                                fontsize: "30px",
                                width: "600",
                                height: "600"
                            });

                    },
                    error: function () {
                        alert("Error loading data! Please try again.");
                    }
                });
            });

        }


        function DrawStackChartLoad() {
            $(function () {
               // alert("this is");
                $.ajax({
                    type: 'GET',
                    url: '/SupervisorDashboard/GetStackJSON',
                    success: function (chartsdata)
                    {
                        //alert("please");
                        var data = new google.visualization.DataTable();

                        var title = chartsdata.title;
                        var listone = chartsdata.ListOne;
                       // alert(listone.length);

                        for (var i = 0; i < title.length + 1; i++)
                        {
                           // alert("first");
                            if (i == 0) {
                                data.addColumn("string", 'Time');
                            } else {
                                data.addColumn('number', title[i - 1]);
                            }
                        }

                        data.addRows(listone.length);
                        for (var j = 0; j < listone.length; j++)
                        {
                           // alert("second" + listone.length);

                            var tmpTime = listone[j].timeValue;
                            var tmpXvalue = listone[j].xvalue;
                            for (var k = 0; k < title.length + 1; k++)
                            {

                                //alert("" + k);
                                if (k == 0) {
                                    data.setValue(j, k, tmpTime);
                                }
                                else {

                                    //alert("k" + k);
                                    //alert("value" + tmpXvalue[k - 1]);

                                    data.setValue(j, k, tmpXvalue[k - 1]);

                                }
                            }

                        }


                        var options = {
                            Title:"Charge Back for each department for past three months",
                            width: 600,
                            fontsize: "30px",
                            height: 600,
                            legend: { position: 'top', maxLines: 3 },
                            bar: { groupWidth: '75%' },
                            isStacked: true
                        };

                        // Instantiate and draw the chart.
                        var chart = new google.visualization.BarChart(document.getElementById('stack_div'));
                        chart.draw(data, options);

                    },
                    error: function () {
                        alert("Error loading data! Please try again.");
                    }
                });
            });

        }
    </script>
}

@*Authors: May Zin Ko*@