@{
    Layout = null;
    ViewBag.Title = "TrendAnalysis";
}



<div class="container">
    <div class="row bg-primary">
        <h4 class="text-center">Trend Analysis Chart Builder</h4>
    </div>
    <br />
    <div class="row">
        <div class="card-body col-lg-3 text-center">
            <label type="text" class="control-label col-md-12"><strong>Date Range</strong></label>
            <input name="DateRange" />
        </div>
        <div class="card-body col-lg-2 text-center">
            <label type="text" class="control-label col-md-12"><strong>Chart Type</strong></label>
            <label>@Html.RadioButton("ChartType", true, new { Checked = "checked", @class = "update_chart" }) Bar Chart</label><br />
            <label>@Html.RadioButton("ChartType", false, new { @class = "update_chart" }) Stack Chart</label><br />
            <label>@Html.RadioButton("ChartType", false, new { @class = "update_chart" }) Stack Chart 2</label>
        </div>
        <div class="card-body col-lg-2 text-center">
            <label type="text" class="control-label col-md-12"><strong>Chart Type</strong></label>
            <label>@Html.RadioButton("IsDisburse", true, new { Checked = "checked", @class = "update_chart" }) View Disbursement</label><br />
            <label>@Html.RadioButton("IsDisburse", false, new { @class = "update_chart" }) View Purchase Order</label>
        </div>
        <div class="card-body col-lg-2 text-center">
            <label type="text" class="control-label col-md-12"><strong>Chart Unit</strong></label>
            <label>@Html.RadioButton("IsCost", true, new { Checked = "checked", @class = "update_chart" }) View Quantity </label> <br />
            <label>@Html.RadioButton("IsCost", false, new { @class = "update_chart" }) View Cost Value </label>
        </div>
        <div class="card-body col-lg-3">
            <label type="text" class="control-label col-md-12"><strong>Departments</strong></label>
            @Html.ListBox("Departments", new SelectList(ViewBag.Departments, "Value", "Text"), new { size = 7, @style = "width:100%;", @class = "update_chart" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="card-body col-lg-9">
            <canvas id="myChart" width="400" height="200"></canvas>
        </div>
        <div class="col-lg-3">
            <div class="card-body">
                <label type="text" class="control-label col-md-12"><strong>Suppliers</strong></label>
                @Html.ListBox("Suppliers", new SelectList(ViewBag.Suppliers, "Value", "Text"), new { size = 8, @style = "width:100%;", @class = "update_chart" })
            </div>
            <br />
            <div class="card-body">
                <label type="text" class="control-label col-md-12"><strong>Stationery Category</strong></label>
                @Html.ListBox("Categories", new SelectList(ViewBag.Categories, "Value", "Text"), new { size = 11, @style = "width:100%;", @class = "update_chart" })
            </div>
        </div>
    </div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>


</script>


<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />

<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<script>
    //on ready
    $(document).ready(function () {
        $('.update_chart').each(function (i, obj) {
            $(obj).on('change', function () { UpdateChart(); })
        });
        //$('#Categories').on('change', function () { UpdateChart(); });
        //$('#Suppliers').on("change", function () { UpdateChart(); });
        //$('#IsDisburse').on('change', function () { UpdateChart(); });
        //$('#IsCost').on("change", function () { UpdateChart(); });
    
    $('input[name="DateRange"]').daterangepicker();
    $('input[name="DateRange"]').daterangepicker(
        {
            locale: {
                format: 'DD-MM-YYYY'
            },
            startDate: moment(),
            endDate: moment(),
            autoclose: true,
            ranges: {
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'Past 3 Months': [moment().subtract(3, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'Past 6 Months': [moment().subtract(6, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'Past 9 Months': [moment().subtract(9, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')],
                'Past 12 Months': [moment().subtract(12, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        },
        function (start, end, label) {
            UpdateDate(start, end);
            UpdateChart();
        });

    })


    var start_date = new Date().getTime();
    var end_date = new Date().getTime();
    var previous_data;
    function UpdateDate(start,end) {
        start_date = start;
        end_date = end;
    }
    function UpdateChart() {
        var posted_data = '{startdate=' + start_date + ", enddate=" + end_date   +  
            ', departments=' + $('#Departments').val() +
            ', suppliers=' + $('#Suppliers').val() +
            ', categories=' + $('#Categories').val() +
            ', isdisburse=' + $('#isDisburse:checked').val() +
            ', iscost=' + $('#isCost:checked').val() +
            ', charttype=' + $('#ChartType:checked').val() + '}';

        if (posted_data != previous_data) {
            $.ajax({
                url: 'https://localhost:44303/SupervisorDashboard/TrendAnalysisJSON',
                type: 'POST',
                data: posted_data,
                dataType: 'json',
                success: function (d) {
                    var ctx = document.getElementById("myChart").getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: d.Label,
                            datasets: [{
                                label: "Hello",
                                data: d.Data, 
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {xAxes: [{stacked: true}],yAxes: [{stacked: true}]}
                        }
                    });
                }
            });
            previous_data = posted_data;
        }
    }


</script>