
@model IEnumerable<LUSSIS.Models.AdjVoucher>

@{
    ViewBag.Title = "adjustment";
}
<h2>AdjustmentApproveReject</h2>


@using (Html.BeginForm("AdjustmentApproveReject", "User", FormMethod.Post,
new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <table class="table">
        <tr>
            <th>

                @Html.CheckBox("all", false)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th>
                @Html.DisplayName("Applied by")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stationery.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>


        </tr>



        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <input type="checkbox" name="@item.AdjVoucherId" />


                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee1.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stationery.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>

        }
    </table>

    @if (!Request["check"].IsEmpty())
    {
        <ul>

            @foreach (var selection in Request["check"].Split(','))
            {
                <li>@selection</li>
            }
        </ul>
    }

    <input type="submit" value="Approve" />
    <input type="submit" value="Reject" />


}







