@model LUSSIS.Models.WebDTO.AdjVoucherColView

@{
    ViewBag.Title = "CreateAdjustments";
}

<h2>CreateAdjustments</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <Table id="AdjustmentsDiv">
        <tr>
            <th>@Html.DisplayNameFor(model => model.MyList.First().ItemNum)</th>
            <th>@Html.DisplayNameFor(model => model.MyList.First().Sign)</th>
            <th>@Html.DisplayNameFor(model => model.MyList.First().Quantity)</th>
            <th>@Html.DisplayNameFor(model => model.MyList.First().Reason)</th>
            <th>Remove</th>
        </tr>
        <tbody>
            @*@Html.Partial("_CreateAdjustments", new LUSSIS.Models.WebDTO.AdjustmentVoucherDTO())*@
            @foreach (var adjustment in Model.MyList)
            {
                Html.Partial("_CreateAdjustments", adjustment);
            }

        </tbody>
    </Table>

    <button id="add" type="button">Add</button>
    <input type="submit" value="" />


}

@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $(document).on("click", ".deleteContact", function () {
            $(this).closest("tr").remove();
        });
    </script>
    <script>
var url = '@Url.Action("_CreateAdjustments")';
var form = $('form');
var Adjustments = $('#AdjustmentsDiv');
$('#add').click(function() {
    $.get(url, function(response) {
        Adjustments.append(response);
        // Reparse the validator for client side validation
        form.data('validator', null);
        $.validator.unobtrusive.parse(form);
    });
    });


//$('.delete').click(function () {
//        var container = $(this).closest('.recipient');
//        var id = container.find('.id').val();
//        if (id) {
//            // make ajax post to delete item
//            $.post(yourDeleteUrl, { id: id }, function (result) {
//                container.remove();
//            }.fail(function (result) {
//                // Oops, something went wrong (display error message?)
//            }
//    } else {
//            // It never existed, so just remove the container
//            container.remove();
//        }
//    });

    </script>
}




