@model IEnumerable<LUSSIS.Models.AdjVoucher>

<br />
<h4>View Pending Stock Adjustment for @ViewBag.Message</h4>

<style>
    body.modal-open div.modal-backdrop {
        z-index: 0;
    }
</style>

<div class="alert alert-danger alert-dismissable fade show" id="showError" style="display: none;">Please select one checkbox</div>

<table class="table">
    <tr>
        <th>
            <input type="checkbox" id="all" onclick="onClickFunction()" />
        </th>

        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Stationery.Description)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>

                <input class="chk" id=@item.AdjVoucherId value="@item.AdjVoucherId" type="checkbox" onclick="onClickFunction()" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stationery.Description)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td></td>
        </tr>
    }

</table>
<div>

    <a href="#" class="btn btn-success" onclick="approve(getCheckList())">Approve</a>
    <a href="#" class="btn btn-danger" onclick="reject(getCheckList())">Reject</a>
</div>


<div class="modal" id="myApproveModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ApprovalTitle">Remarks for Approval</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="myApproveModalBodyDiv">

            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        function onClickFunction() {
            var checkBox = document.getElementById("all");

            if (checkBox.checked === true) {

                $('.chk').attr('checked', true);
            } else {
                $('.chk').attr('checked', false);
            }
        }

        function getCheckList() {
            var chkArray = [];
            $(".chk:checked").each(function () {
                chkArray.push($(this).val());

            });

            return chkArray.join(',');
        }

    </script>

    <script>

        var approve = function(checkList) {
            if (checkList.length < 1) {
                $("#showError").show();
            } else {
                $("#showError").hide();

                var url = "@Url.Content("~/")StockAdjustment/ApproveReject?list=" + checkList + "&status=approved";

                $("#myApproveModalBodyDiv").load(url,
                    function() {
                        $("#myApproveModal").modal("show");
                    });
            }
        }

        var reject = function(checkList) {
            if (checkList.length < 1) {
                $("#showError").show();

            } else {
                $("#showError").hide();
                var url = "@Url.Content("~/")StockAdjustment/ApproveReject?List=" + checkList + "&Status=rejected";

                $("#myApproveModalBodyDiv").load(url,
                    function() {
                        $("#myApproveModal").modal("show");
                    });
            }

        }
    </script>
}

@*Authors: Koh Meng Guan*@