<div class="dropdown nav navbar-nav">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span>Stationery</span>
    </button>
    <ul class="dropdown-menu navbar-nav" aria-labelledby="dropdownMenu1">
        <li class="dropdown-item"><a href="@Url.Action("Pending", "Requisitions")"><span>View Stationeries(Not avail)</span></a></li>
        <li class="dropdown-item"><a href="@Url.Action("History", "Requisitions")"><span>Add New Stationery(Not avail)</span></a></li>
    </ul>
</div>
<div class="dropdown nav navbar-nav">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span>Requisition</span>
    </button>
    <ul class="dropdown-menu navbar-nav" aria-labelledby="dropdownMenu1">
        <li class="dropdown-item"><a href="@Url.Action("Consolidated", "Requisitions")"><span>Consolidated Stationery Requisition</span></a></li>
        <li class="dropdown-item"><a href="@Url.Action("RetrievalInProcess", "Requisitions")"><span>Retrieval In Process</span></a></li>
    </ul>
</div>
<div class="dropdown nav navbar-nav">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span>Disbursement</span>
    </button>
    <ul class="dropdown-menu navbar-nav" aria-labelledby="dropdownMenu1">
        <li class="dropdown-item"><a href="@Url.Action("Index", "Disbursements")"><span>Manage Disbursement</span></a></li>
        <li class="dropdown-item"><a href="@Url.Action("History", "Requisitions")"><span>Manage Collection Point(NA)</span></a></li>
    </ul>
</div>
<div class="dropdown nav navbar-nav">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span>P.O.</span>
    </button>
    <ul class="dropdown-menu navbar-nav" aria-labelledby="dropdownMenu1">
        <li class="dropdown-item"><a href="@Url.Action("Summary", "PurchaseOrders")"><span>Summary</span></a></li>
        <li class="dropdown-item"><a href="@Url.Action("Create", "PurchaseOrders")"><span>Create</span></a></li>
        <li class="dropdown-item"><a href="@Url.Action("Receive", "PurchaseOrders")"><span>Receive</span></a></li>
        <li class="dropdown-item"><a href="@Url.Action("ViewPendingPOList", "PurchaseOrders")"><span>Browse Past P.O.(N.A)</span></a></li>
        <li class="dropdown-item"><a href="@Url.Action("Details", "PurchaseOrders")"><span>View P.O. Details</span></a></li>
    </ul>
</div>
<div class="dropdown nav navbar-nav">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span>Adjustment</span>
    </button>
    <ul class="dropdown-menu navbar-nav" aria-labelledby="dropdownMenu1">
        <li class="dropdown-item"><a href="@Url.Action("CreateAdjustments", "StockAdjustmnt")"><span>Request Adjustment</span></a></li>
        <li class="dropdown-item"><a href="@Url.Action("History", "StockAdjustmnt")"><span>Adjustment History</span></a></li>
    </ul>
</div>
<div class="dropdown nav navbar-nav">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span>Supplier</span>
    </button>
    <ul class="dropdown-menu navbar-nav" aria-labelledby="dropdownMenu1">
        <li class="dropdown-item"><a href="@Url.Action("Index", "Suppliers")"><span>View Suppliers</span></a></li>
        <li class="dropdown-item"><a href="@Url.Action("Create", "Suppliers")"><span>Add New Suppliers</span></a></li>
        <li class="dropdown-item"><a href="@Url.Action("History", "Suppliers")"><span>Upload Quotations(N.A)</span></a></li>
    </ul>
</div>
