<div class="dropdown nav navbar-nav">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span>Adjustment</span>
    </button>
    <ul class="dropdown-menu navbar-nav" aria-labelledby="dropdownMenu1">
        <li class="dropdown-item"><a href="@Url.Action("ViewPendingStockAdj", "StockAdjustment")"><span>Pending Adjustments</span></a></li>
        <li class="dropdown-item"><a href="@Url.Action("History", "StockAdjustment")"><span>Adjustment History</span></a></li>
    </ul>
</div>
<div class="dropdown nav navbar-nav">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span>P.O.</span>
    </button>
    <ul class="dropdown-menu navbar-nav" aria-labelledby="dropdownMenu1">
        <li class="dropdown-item"><a href="@Url.Action("ViewPendingPOList", "PurchaseOrders")"><span>Pending P.O.</span></a></li>
        <li class="dropdown-item"><a href="@Url.Action("Index", "PurchaseOrders")"><span>P.O. History</span></a></li>
    </ul>
</div>
<div class="dropdown nav navbar-nav">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span>Analysis</span>
    </button>
    <ul class="dropdown-menu navbar-nav" aria-labelledby="dropdownMenu1">
        <li class="dropdown-item"><a href="@Url.Action("Index", "Disbursements")"><span>Stationery Purchase Trend(N.A)</span></a></li>
        <li class="dropdown-item"><a href="@Url.Action("History", "Requisitions")"><span>Requisition Request Trend(N.A)</span></a></li>
    </ul>
</div>



