@using LUSSIS.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LUSSIS</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            @Html.ActionLink("LUSSIS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Supplier", "Index", "Suppliers", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Stock Adjustment", "History", "StockAdjustment", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Collection", "Index", "Collection", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Stock Adjustment", "CreateAdjustments", "StockAdjustment", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Stationery", "Index", "Requisition", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Requisition", "EmpReq", "Requisition", null, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
    </div>
    <div class="container">
        <footer class="text-muted">
            <p>&copy; @DateTime.Now.Year - LUSSIS By Sa45Team7</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetime")
    @RenderSection("scripts", required: false)
</body>
</html>
