@using LUSSIS.Models.WebDTO
@using LUSSIS.Repositories

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">

            @if (((Session["Roles"] as List<String>).Contains("staff") || (Session["Roles"] as List<String>).Contains("rep")) && (!new EmployeeRepository().CheckIfLoggedInUserIsDelegate()))
            {
                <li class="nav-item">
                    @Html.ActionLink("My Cart (" + (Session["MyCart"] as ShoppingCart).GetCartItemCount() + ")", "EmpCart", "Requisitions", null, new { title = "Current Request", @class = "nav-link" })
                </li>
            }
                <li class="nav-item">
                @Html.ActionLink("Welcome, " + (string)Session["Name"], "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage Account", @class = "nav-link" })
            </li>
            <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
