@model IEnumerable<LUSSIS.Models.Requisition>

@{
    ViewBag.Title = "All";
}

<h2>All Requisition</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequisitionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequisitionEmployee.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestRemarks)
        </th>
        <th>
            @Html.DisplayName("View")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequisitionDate, "Requisition Date")
                @Html.HiddenFor(modelItem => item.RequisitionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequisitionEmployee.FullName, "Employee")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestRemarks, "Reason for Request")
            </td>
            <td>
                @Html.ActionLink("Details", "Detail", "Requisitions", new { reqId = item.RequisitionId }, null)
            </td>
        </tr>
    }

</table>

