@model LUSSIS.Models.Requisition


@{
    ViewBag.Title = "Detail";
}

<h2>Requisition Detail</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.RequisitionId)
    @Html.HiddenFor(model => model.RequisitionEmpNum)
    @Html.HiddenFor(model => model.RequestRemarks)
    @Html.HiddenFor(model => model.RequisitionDate)
    @Html.HiddenFor(model => model.Status)


    <div class="jumbotron">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayName("Employee")
                </th>
                <th>
                    @Html.DisplayName("Requisition Date")
                </th>
                <th>
                    @Html.DisplayName("Reason")
                </th>
                @if (ViewBag.Pending != "Pending")
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                }
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.RequisitionEmployee.FullName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.RequisitionDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.RequestRemarks)
                </td>
                @if (ViewBag.Pending != "Pending")
                {
                    <td>
                        @Html.DisplayFor(model => model.Status)
                    </td>
                }
            </tr>
        </table>
    </div>
    <div class="row">
        @if (ViewBag.Message != "Delegate" && ViewBag.Pending == "Pending")
        {
        <div class="form-group col-md-6">
            @Html.TextAreaFor(model => model.ApprovalRemarks, 3, 60, new { @class = "form-control" })
        </div>
            
        }
        else
        {
            <div class="form-group col-md-6">@Html.DisplayFor(model => model.ApprovalRemarks)</div>
        }
        @if (ViewBag.Message != "Delegate" && ViewBag.Pending == "Pending")
        {
            <button type="submit" name="SubmitButton" class="btn btn-outline-success btn-lg btn-block" value="Approve" style="float: right;"></button>
            <button type="submit" name="SubmitButton" class="btn btn-outline-success btn-lg btn-block" value="Reject" style="float: right;"></button>
        }
    </div>
    @*<table>
        <tr>
            <th colspan="2">@Html.LabelFor(model => model.ApprovalRemarks, "Approval comments")</th>
            <td></td>
        </tr>
        <tr>
            @if (ViewBag.Message != "Delegate" && ViewBag.Pending == "Pending")
            {
                <td>@Html.EditorFor(model => model.ApprovalRemarks)</td>
            }
            else
            {
                <td>@Html.DisplayFor(model => model.ApprovalRemarks)</td>
            }
            @if (ViewBag.Message != "Delegate" && ViewBag.Pending == "Pending")
            {
                <td><button type="submit" name="SubmitButton" value="Approve">Approve</button></td>
                <td><button type="submit" name="SubmitButton" value="Reject">Reject</button></td>
            }
        </tr>
    </table>*@
    <br />

}

@Html.Partial("_Detail", Model.RequisitionDetails)





<p>

</p>



