@model LUSSIS.Models.Requisition



@{
    ViewBag.Title = "Detail";
}

<h2>Requisition Detail</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.RequisitionId)
    @Html.HiddenFor(model => model.RequisitionEmpNum)
    @Html.HiddenFor(model => model.RequestRemarks)
    @Html.HiddenFor(model => model.RequisitionDate)


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequisitionEmployee.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequisitionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestRemarks)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.RequisitionEmployee.FullName)
            </td>
            <td>
                @Html.DisplayFor(model => model.RequisitionDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.RequestRemarks)
            </td>
        </tr>
    </table>

    <table>
        <tr>
            @if (ViewBag.Pending == "Pending")
            {
            <td>@Html.LabelFor(model => model.ApprovalRemarks, "Your comments", htmlAttributes: new { @class = "control-label col-md-2" })</td>
            }
            else { <td>@Html.DisplayFor(model => model.RequestRemarks)</td>  }

            @if (ViewBag.Message != "Delegate" && ViewBag.Pending == "Pending")
            {
        <td></td>
        <td></td>
            }
        </tr>
        <tr>
            <td>@Html.EditorFor(model => model.ApprovalRemarks)</td>
            @if (ViewBag.Message != "Delegate")
            {
            <td><button type="submit" name="SubmitButton" value="Approve">Approve</button></td>
            <td><button type="submit" name="SubmitButton" value="Reject">Reject</button></td>
            }
        </tr>
    </table>
    <br />

}

@Html.Partial("_Detail", Model.RequisitionDetails)





<p>

</p>



