@model IEnumerable<LUSSIS.Models.RequisitionDetail>

@{
    ViewBag.Title = "EmpReqDetail";

}

<h2>Requisition Detail</h2>


<table class="table">
    <tr>
        <th>Requisition No.</th>
        <th>Requested Date</th>
        <th>Summary</th>
        <th>Status</th>
    </tr>
    <tr>
        @if (Model.Count() != 0)
        {
            <th>@Model.First().Requisition.RequisitionId</th>
            <th>@Model.First().Requisition.RequisitionDate.Value.GetDateTimeFormats().First()</th>
            <th>@Model.First().Requisition.RequestRemarks</th>
            <th>@Model.First().Requisition.Status</th>
        }
    </tr>

</table>


@if (Model.Count() != 0)
{
    if (Model.First().Requisition.Status == "approved")
    {
        <div class="panel panel-info">
            <div class="panel-heading"><h4>Comments from @Model.First().Requisition.ApprovalEmployee.FullName</h4></div>
            <div class="alert alert-success"><strong>@Model.First().Requisition.ApprovalRemarks</strong> </div>
        </div>
    }
}
<h4>Detail Information</h4>
<table class="table">
    <tr>
        <th>
            Stationery Item
        </th>
        <th>
            UOM
        </th>
        <th>
            Quantity
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stationery.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stationery.UnitOfMeasure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        </tr>
    }
</table>




