@model PagedList.IPagedList<LUSSIS.Models.Requisition>
@using PagedList.Mvc;
@{
    ViewBag.Title = "EmpReq";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<h2>List of Requisition</h2>
<hr/>

<table class="table table-striped table-hover">
    <tr>
        <th>
            Requisition No.
        </th>
        <th>
            Date
        </th>
        <th>
            Summary
        </th>
        <th>
            Status
        </th>
        <th>
            View
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequisitionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequisitionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestRemarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("View Details", "EmpReqDetail", new { id = item.RequisitionId}, new{@class="btn btn-outline-success btn-sm"})
            </td>
        </tr>
    }

</table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("EmpReq", new { page, currentFilter = ViewBag.CurrentFilter }))



