@model IEnumerable<LUSSIS.Models.Requisition>

@{
    ViewBag.Title = "Pending";
}

<h2>Pending Requisition</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequisitionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequisitionEmployee.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestRemarks)
        </th>
        <th>
            @Html.DisplayName("View")
        </th>
        <th>
            @Html.DisplayName("Manage")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequisitionDate)
                @Html.HiddenFor(modelItem => item.RequisitionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequisitionEmployee.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestRemarks)
            </td>
            <td>
                @Html.ActionLink("Details", "Detail", "Requisition", new { reqId = item.RequisitionId }, null)
            </td>
            <td>
                <a href="#" class="btn btn-success" onclick="ApproveReq(@item.RequisitionId)">Approve</a>
                <a href="#" class="btn btn-danger" onclick="RejectReq(@item.RequisitionId)">Reject</a>
            </td>
        </tr>
    }

</table>


<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>



<div class="modal fade" id="myApproveModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="ApprovalTitle"></h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="myApproveModalBodyDiv">
            </div>
        </div>
    </div>
</div>


<script>
    var ApproveReq = function (RequisitionId) {
        document.getElementById("ApprovalTitle").textContent = "Approve"
        var url = "/Requisition/ApproveReq?Id=" + RequisitionId + "&Status=approved";

        $("#myApproveModalBodyDiv").load(url, function () {
            $("#myApproveModal").modal("show");
        })
    }
    var RejectReq = function (RequisitionId) {
        document.getElementById("ApprovalTitle").textContent = "Reject"
        var url = "/Requisition/ApproveReq?Id=" + RequisitionId + "&Status=rejected";

        $("#myApproveModalBodyDiv").load(url, function () {
            $("#myApproveModal").modal("show");
        })
    }      
</script>