@model IEnumerable<LUSSIS.Models.PurchaseOrder>

@{
    ViewBag.Title = "Index";
}


<h2>Purchase Order List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table display" id="table_with_pages">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderEmpNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>View Details</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderEmployee.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("View Details", "Details", new { id = item.PoNum })
            </td>
        </tr>
    }

</table>
<ul class="pagination">
    @if (ViewBag.page > 1)
    {
        <li>@Html.ActionLink("<", "Index", new { page = ViewBag.page - 1 })</li>
    }
    @if (Model.Count() == 20)
    {
    <li>@Html.ActionLink(">", "Index", new { page = ViewBag.page + 1 })</li>
    }
</ul>
