
@model PagedList.IPagedList<LUSSIS.Models.PurchaseOrder>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>Purchase Order List</h2>
<hr />

<table class="table display table-striped table-hover" id="table_with_pages">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().SupplierId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().OrderEmpNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Status)
        </th>
        <th>View Details</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderEmployee.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("View Details", "Details", new { id = item.PoNum }, new { @class = "btn btn-info btn-sm" })
            </td>
        </tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page =>
    Url.Action("Index",
        new { page, currentFilter = ViewBag.CurrentFilter }))

@*Authors: Douglas Lee Kiat Hui*@