@model IEnumerable<LUSSIS.Models.WebDTO.PendingPurchaseOrderDTO>


<style>
    body.modal-open div.modal-backdrop {
        z-index: 0;
    }
</style>
<br />
<h4>View Pending PO List</h4>

<script>

    function onClickFunction() {
        var checkBox = document.getElementById("all");

        if (checkBox.checked == true) {

            $('.chk').attr('checked', true);
        }
        else {
            $('.chk').attr('checked', false);
        }
    }

    function getCheckList() {
        var chkArray = [];
        $(".chk:checked").each(function () {
            chkArray.push($(this).val());

        });
        return chkArray.toString();
    }


</script>


<div class="alert alert-danger alert-dismissable fade show" id="showError" style="display:none;">Please select one checkbox</div>
<table class="table">
    <tr>
        <th>
            <div class="form-group">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="all customCheck1" onclick="onClickFunction()" />
                    <label class="custom-control-label" for="customCheck1"> </label>
                </div>
                
            </div>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoNum)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Supplier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayName("Submitted by")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCost)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input class="chk" class="custom-control-input"  id="@item.PoNum customCheck1"  value="@item.PoNum" type="checkbox" />
                        <label class="custom-control-label" for="customCheck1"> </label>
                    </div>
                
                </div>
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderEmp)
            </td>
            <td>
                $ @Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                @Html.ActionLink("View Details", "Details", new { id = item.PoNum }, new { @class = "btn btn-sm btn-info" })
            </td>
        </tr>
    }

</table>
<div class="text-right">
    <a href="#" class="btn btn-success btn-lg" onclick="ApproveReject(getCheckList())">Approve Selection</a>
    <a href="#" class="btn btn-danger btn-lg" onclick="RejectReject(getCheckList())">Reject Selection</a>
</div>

<div class="modal" id="myApproveModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ApprovalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="myApproveModalBodyDiv">

            </div>
        </div>
    </div>
</div>


<script>

    var ApproveReject = function (CheckList) {
        if (CheckList < 1) {
            $("#showError").show();
        }
        else {
            $("#showError").hide();
            var url = "/PurchaseOrders/ApproveRejectPO?List=" + CheckList + "&Status=Approve";

            $("#myApproveModalBodyDiv").load(url, function () {
                $("#myApproveModal").modal("show");
            })
        }

    }
    var RejectReject = function (CheckList) {
        if (CheckList.length < 1) {
            $("#showError").show();
        }
        else {
            $("#showError").hide();
            var url = "/PurchaseOrders/ApproveRejectPO?List=" + CheckList + "&Status=Reject";

            $("#myApproveModalBodyDiv").load(url, function () {
                $("#myApproveModal").modal("show");
            })
        }

    }
</script>