@model PagedList.IPagedList<LUSSIS.Models.Stationery>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";

}
<script src="~/Scripts/jquery-1.10.2.min.js"
            type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            // Document.ready -> link up remove event handler
            $(".AddLink").click(function () {
                // Get the id from the link
                var stationeryToAdd = $(this).attr("data-id");
                var qty = document.getElementById('qty-' + $(this).attr("data-id")).value;
                if (stationeryToAdd != '') {
                    // Perform the ajax post
                    $.post("/Requisition/AddToCart", { "id": stationeryToAdd, "qty": qty },
                        function (data) {
                            location.reload();
                            // Successful requests get here
                            // Update the page elements
                            //alert("success");
                            //if (data.ItemCount == 0) {
                            //    $('#row-' + data.DeleteId).fadeOut('slow');
                            //} else {
                            //    $('#item-count-' + data.DeleteId).text(data.ItemCount);
                            //}
                            //$('#cart-total').text(data.CartTotal);
                            //$('#update-message').text(data.Message);
                            //$('#cart-status').text('Cart (' + data.CartCount + ')');
                        });
                }
            });
        });
    </script>

<h2>Stationery</h2>
@using (Html.BeginForm())
{
    <p>
        Find By Description: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<p>

</p>
<form action="/Requisition/Index" method="post">
    <table class="table table-striped">
        <tr>
            <th>
                Description
            </th>
            <th>
                UOM
            </th>
            <th>
                Order Quantity
            <th>
                Manage
            </th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitOfMeasure)
                </td>
                
                <td>
                    <input type="number" name="qty" min="1" max="1000" value="1" id="qty-@item.ItemNum">
                   
                </td>
                <td>
                    <input type="submit" value="Add To Cart" class="AddLink" data-id="@item.ItemNum"/>
                   
                </td>
                
            </tr>
        }

        


    </table>
</form>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))

