@model LUSSIS.Models.WebDTO.RepAndDelegateDTO
@{
    ViewBag.Title = "Department Rep";
}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<h2>Department Rep</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department.RepEmployee)
        </th>
    </tr>
    <tr>
        <td>


            @Html.DisplayFor(model => model.Department.RepEmployee.FirstName)
        </td>
    </tr>
</table>
@*<table>
        @foreach (var item in Model.GetAllByDepartment)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
            </tr>
        }
    </table>*@

@using (Html.BeginForm("UpdateRep", "RepAndDelegate", FormMethod.Post))
{
    <input id="Emp" type="text" placeholder="Search for Employee" name="FullName"/>
    <input type="submit" value="Set New Department Rep" />
    <input type="hidden" id="Emp2" name="RepEmp" />
    @ViewBag.Message
}

@section scripts {
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {



            $('#Department.RepEmpNum').val();
            $("#Emp").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/RepAndDelegate/GetVendors",
                        type: "POST",
                        dataType: "json",
                        data: { prefix: request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.FullName, value: item.EmpNum };
                            }))

                        }
                    })
                },
                select: function (event, ui) {
                    event.preventDefault();
                    $('#Emp2').val(ui.item.value);
                    $(this).val(ui.item.label);
                },
                messages: {
                    noResults: "", results: ""
                }
            });
        })
    </script>
}

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />

            <div class="form-group">

                <div class="col-md-12">
                    @Html.EditorFor(model => model.Department.RepEmployee.FirstName, new { htmlAttributes = new { @class = "form-control" } })

                </div>
            </div>

        </div>
    }*@


