@model LUSSIS.Models.WebDTO.DeptHeadDashBoardDTO
@{
    ViewBag.Title = "My DashBoard";
}

<h2>My DashBoard</h2>
<div class="row">
    <div class="class=" col-lg-4">
        <div class="bs-component">
            <div class="card bg-light mb-3" style="min-height: 30em; max-width: 20rem; margin-right: 1rem">
                <div class="col-xs-12 text-center">
                    <div class="card-header"><h4 class="card-title">Pending Requisitions</h4></div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <tr>
                                <th>
                                    No. of Pending Requisitions:
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    @Html.DisplayFor(Model => Model.GetRequisitionListCount)
                                    <br />
                                </td>
                            </tr>
                        </table>
                        @if (Model.GetRequisitionListCount != 0)
                        {
                            using (Html.BeginForm("Pending", "Requisitions", FormMethod.Post))
                            {
                                <input type="submit" class="btn btn-success my-2 my-sm-0" value="View Pending Requisitions" />
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="class=" col-lg-4">
        <div class="bs-component">
            <div class="card bg-light mb-3" style="min-height: 30em; max-width: 35rem; margin-right: 1rem">
                <div class="col-xs-12 text-center">
                    <div class="card-header"><h4 class="card-title">My Delegate</h4></div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <tr>
                                <th>
                                    My Delegate
                                </th>
                                <th>
                                    From
                                </th>
                                <th>
                                    To
                                </th>
                            </tr>
                            @if (Model.GetDelegate != null)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => model.GetDelegate.Employee.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.GetDelegate.StartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.GetDelegate.EndDate)
                                    </td>
                                </tr>
                            }
                        </table>
                        @if (Model.GetDelegate == null)
                        {
                            <text> You have no delegate at the moment.</text>
                            using (Html.BeginForm("DeptDelegate", "RepAndDelegate", FormMethod.Post))
                            {
                                <br />
                                <input type="submit" class="btn btn-success my-2 my-sm-0" value="Set My Delegate" />
                            }

                        }
                        else if (Model.GetDelegateByDate != null)
                        {
                            <h6>Your delegate is activated today!</h6>

                            <br />using (Html.BeginForm("DeleteDelegateFromDB", "RepAndDelegate", FormMethod.Post))
                            {
                                <input type="submit" class="btn btn-success my-2 my-sm-0" value="Revoke Delegate" />
                            }
                        }
                        else
                        {
                            <h6>Your delegate will be activated on </h6>@Html.DisplayFor(mode => Model.GetDelegate.StartDate)
                            <br />
                            <br />
                            using (Html.BeginForm("DeleteDelegateFromDB", "RepAndDelegate", FormMethod.Post))
                            {
                                <input type="submit" class="btn btn-success my-2 my-sm-0" value="Revoke Delegate" />
                            }
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="class=" col-lg-4">
        <div class="bs-component">
            <div class="card bg-light mb-3" style="min-height: 30em; min-width: 20rem; max-width: 20rem; margin-right: 1rem">
                <div class="col-xs-12 text-center">
                    <div class="card-header"><h4 class="card-title">Department Rep</h4></div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <tr>
                                <th>
                                    Current Department Rep:
                                </th>
                            </tr>
                            @if (Model.Department.RepEmployee != null)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => model.Department.RepEmployee.FullName)
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <text>No department representative at the moment.</text>
                            }

                        </table>
                        @using (Html.BeginForm("DeptRep", "RepAndDelegate", FormMethod.Post))
                        {
                            <input type="submit" class="btn btn-success my-2 my-sm-0" value="Set New Representative" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


