@model LUSSIS.Models.Disbursement

<h2>Upcoming Collection</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CollectionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollectionPoint.CollectionName)
        </th>
    </tr>
    @if (Model != null)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => model.CollectionDate)
            </td>
            <td>
                @Html.DisplayFor(model => model.CollectionPoint.CollectionName)
                &nbsp;&nbsp;@Html.DisplayFor(model => model.CollectionPoint.Time)
            </td>
        </tr>
    }

</table>
@if (Model == null)
{
    <table class="table">
        <tr>
            No disbursement to be collected at the moment :)
        </tr>
    </table>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DisbursementDetails.First().Stationery.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisbursementDetails.First().Stationery.UnitOfMeasure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisbursementDetails.First().RequestedQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisbursementDetails.First().ActualQty)
        </th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model.DisbursementDetails)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Stationery.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stationery.UnitOfMeasure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestedQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActualQty)
                </td>
            </tr>
        }
    }
</table>
@if (Model == null)
{
    <table class="table">
        <tr>
            No records found :)
        </tr>
    </table>
}


