@model LUSSIS.Models.WebDTO.ManageCollectionDTO

<h2>Manage Collection Point</h2>

<table class="table" col-width="100px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CollectionPoint.CollectionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollectionPoint.Time)
        </th>
    </tr>
    <tr>

        <td>
            @if (Model.Disbursement != null)
            {

                @Html.DisplayFor(model => model.Disbursement.CollectionPoint.CollectionName)
            }
            else
            {
                @Html.DisplayFor(model => model.CollectionPoint.CollectionName)
            }

        </td>
        <td>
            @if (Model.Disbursement != null)
            {
                @Html.DisplayFor(model => model.Disbursement.CollectionPoint.CollectionName)
            }
            else
            {
                @Html.DisplayFor(model => model.CollectionPoint.Time)
            }
        </td>
    </tr>
</table>
<style type="text/css">
    td {
        width: 2%;
    }

    th {
        width: 2%;
    }
</style>



